@import "fonts";
@import "form";
@import "button";

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

$white: #fff;
$red: #f70000;
$gray: #a0a0a0;

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Bold";
  color: #000;
  line-height: 116%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lock {
  overflow: hidden;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content__page {
  position: relative;
  flex: 1 1 100%;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 300px;
  }
}
.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 114%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  position: relative;
  span {
    color: $red;
  }
  &::after {
    content: "";
    width: 149px;
    height: 6px;
    background-color: $red;
    border-radius: 9px;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1023px) {
  .title {
    font-size: 32px;
    &::after {
      content: "";
      width: 120px;
    }
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 26px;
    &::after {
      content: "";
      width: 90px;
    }
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
/*  ======================================  header  ======================================= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header__body {
  padding: 42px 0px 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__descr {
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  color: $white;
  span {
    display: inline-block;
  }
}
.header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.phone__top {
  display: flex;
}
.phone__icon {
  margin-right: 5px;
}
.phone__number {
  font-size: 24px;
  line-height: 28px;
  color: $white;
}
.header__phone:hover .phone__icon {
  transform: rotate(10deg);
  transition: all 0.2s ease-in;
}
.phone__bottom {
  font-family: Helvetica Light;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 25px;
  color: $white;
  cursor: pointer;
}
.phone__bottom:hover {
  text-decoration: none;
}
@media (max-width: 1023px) {
  .header__logo img {
    width: 150px;
  }
  .header__descr {
    max-width: 390px;
    font-size: 14px;
  }
  .phone__number {
    font-size: 16px;
    line-height: 18px;
  }
  .phone__bottom {
    font-size: 14px;
    padding-left: 10px;
  }
  .phone__icon {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 767px) {
  .header__descr {
    display: none;
  }
  .header__body {
    padding: 30px 0;
  }
}
@media (max-width: 600px) {
  .header__body {
    padding: 20px 0;
  }
  .phone__icon {
    display: none;
  }
  .header__logo img {
    width: 125px;
  }
  .phone__number {
    font-size: 15px;
    line-height: 18px;
  }
}
/* ========================================= main ===================================== */
.main {
  background: url("@img/main/back.png") 50% / cover no-repeat;
  position: relative;
  z-index: 1;
  &__body {
    padding: 200px 0px 42px 0px;
  }
  &__title {
    max-width: 940px;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
  }
  &__title span {
    color: $red;
  }
  &__descr {
    font-style: italic;
    font-size: 24px;
    max-width: 737px;
    line-height: 116%;
    margin-bottom: 40px;
    color: $white;
  }
  &__list {
    display: flex;
    margin-bottom: 74px;
  }
  &__list > *:not(:last-child) {
    margin-right: 21px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
  }
  &__item-img {
    margin-bottom: 26px;
  }
  &__item-descr {
    max-width: 197px;
    text-align: center;
    font-size: 16px;
    line-height: 116%;
  }
  &__slider {
    display: none;
  }
}
.form-block {
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 23px 18px;
  text-align: center;
  &__title {
    font-size: 20px;
    line-height: 116%;
    margin-bottom: 15px;
  }
}
.main__btn-cover {
  width: 250px;
  .btn {
    font-size: 14px;
    padding: 22px 0px 23px;
  }
}

.form__input-phone {
  background: url("@img/main/phone.svg") 18px 18px no-repeat;
}
.form__input-email {
  background: url("@img/main/mail.svg") 15px 18px no-repeat;
}
.form__input-name {
  background: url("@img/main/user.svg") 15px 18px no-repeat;
}
.form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 936px;
  margin: 0 auto;
  margin-top: 15px;
  .policy__tick {
    border: 1px solid $gray;
    border-radius: 2px;
    margin-right: 5px;
  }
  p {
    font-family: Helvetica;
    font-size: 12px;
    line-height: 116%;
    color: $gray;
  }
}
.adaptive__btn-cover {
  display: none;
}

@media (max-width: 1278px) {
  .form-block {
    max-width: 750px;
    margin: 0 auto;
  }
  .form-block__title {
    font-size: 18px;
  }
  .form__field {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  .form__field > *:not(:last-child) {
    margin-bottom: 15px;
  }
  .main__btn-cover {
    width: 320px;
  }
  .form__policy {
    align-items: start;
  }
}
@media (max-width: 1023px) {
  .main__body {
    padding: 155px 0px 42px 0px;
  }
  .main__title {
    max-width: 640px;
    font-size: 30px;
  }
  .main__descr {
    font-size: 20px;
    max-width: 650px;
  }
  .main__list > *:not(:last-child) {
    margin-right: 15px;
  }
  .main__item-descr {
    max-width: 190px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .main__body {
    padding: 120px 0px 30px 0px;
  }
  .main__title {
    max-width: 530px;
    font-size: 26px;
  }
  .main__descr {
    font-size: 18px;
    max-width: 480px;
  }
}
@media (max-width: 600px) {
  .main {
    background: url("@img/main/back.png") 46% / cover no-repeat;
  }
  .main__body {
    padding: 94px 0px 40px 0px;
  }
  .main__list {
    display: none;
  }
  .main__title {
    max-width: 270px;
    font-size: 20px;
    text-align: center;
  }
  .main__descr {
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .main__item-descr {
    font-size: 14px;
  }
  .main__slider {
    display: block;
    padding-bottom: 25px;
  }
  .slider-flex {
    display: flex;
    position: relative;
  }
  .slider-track {
    margin: 0 auto;
  }

  .slide-list {
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  .slide-active {
    display: block;
  }

  .slide-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .slide-dot.slide-active {
    background-color: $red;
  }
  .slide-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 10px;
    cursor: pointer;
  }
  .slide-dot:last-child {
    margin-right: 0;
  }
  .main__form {
    display: none;
  }
  .adaptive__btn-cover {
    display: block;
    .btn {
      font-size: 14px;
    }
  }
}

/* ======================================== open ===================================== */
.open {
  background: url("@img/second/background.png") 50% / cover no-repeat;
  &__body {
    padding: 45px 0 126px 0px;
  }
  &__title {
    max-width: 791px;
    margin: 0 auto 90px auto;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 26px;
  }
  &__item {
    filter: drop-shadow(64px 64px 36px rgba(0, 0, 0, 0.01))
      drop-shadow(36px 36px 31px rgba(0, 0, 0, 0.05))
      drop-shadow(16px 16px 23px rgba(0, 0, 0, 0.09))
      drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    background-color: $white;
    max-width: 413px;
    min-height: 330px;
    padding: 38px 0px 0px 25px;
  }
}
@media (max-width: 1032px) {
  .open {
    &__body {
      padding: 40px 0 100px 0px;
    }
    &__title {
      max-width: 600px;
    }
    &__item {
      padding: 30px 0px 0px 20px;
    }
  }
}
@media (max-width: 767px) {
  .open {
    &__body {
      padding: 40px 0 60px 0px;
    }
    &__title {
      max-width: 450px;
    }
    &__item {
      padding: 20px 0px 0px 15px;
    }
  }
}
@media (max-width: 767px) {
  .open {
    &__body {
      padding: 0 0 40px 0;
    }
    &__title {
      max-width: 270px;
      margin: 0 auto 60px auto;
    }
    &__item {
      padding: 15px 0px 0px 15px;
    }
  }
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
  p {
    max-width: 362px;
  }
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  p {
    max-width: 381px;
  }
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  p {
    max-width: 358px;
  }
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  p {
    max-width: 377px;
  }
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  p {
    max-width: 321px;
  }
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
  p {
    max-width: 340px;
  }
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__descr {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 116%;
  }
  &__number {
    font-weight: 700;
    font-size: 128px;
    line-height: 115%;
    color: $red;
  }
  &__img {
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 1208px) {
  .item__number {
    font-size: 105px;
  }
  .item__img {
    width: 160px;
  }
}
@media (max-width: 1023px) {
  .open__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .item__descr {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .open__item {
    max-width: 270px;
    min-height: 150px;
  }
  .item__descr {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }
  .item__img {
    width: 130px;
  }
}
@media (max-width: 600px) {
  .open__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    margin-bottom: 20px;
  }
  .open__item {
    filter: drop-shadow(2px 0px 9px rgba(0, 0, 0, 0.01))
      drop-shadow(6px 7px 6px rgba(0, 0, 0, 0.05))
      drop-shadow(6px 7px 8px rgba(0, 0, 0, 0.09))
      drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div3 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .item__number {
    font-size: 90px;
  }

  .open__item {
    max-width: 230px;
    margin: 0 auto;
    min-height: 100px;
  }
  .item__img {
    width: 110px;
  }
}

/* ===================================== about ==================================== */
.about {
  background: url("@img/about/back2.png") 50% / cover no-repeat;
}
@media (max-width: 1920px) {
  .about {
    background: url("@img/about/back.png") 50% / cover no-repeat;
  }
  .owner__img {
    display: none;
  }
}
.about__body {
  padding: 53px 0px 0px 0px;
  position: relative;
}
.owner__img {
  position: absolute;
  bottom: 0;
  right: -320px;
  z-index: 1;
}
.about__title {
  max-width: 791px;
  text-align: left;
  margin-bottom: 58px;
  color: $white;
  line-height: 143%;
  &::after {
    content: "";
    height: 10px;
    left: 0px;
    transform: translateX(0);
  }
}
.about__block {
  max-width: 770px;
  font-family: "Helvetica";
  font-size: 24px;
  font-weight: 400;
  line-height: 138%;
  color: $white;
  margin-bottom: 52px;
  position: relative;
  &::before {
    content: "“";
    font-family: Helvetica Bold;
    font-size: 96px;
    line-height: 110px;
    color: rgba($color: $white, $alpha: 0.3);
    position: absolute;
    top: -20px;
    left: -50px;
  }
  &::after {
    content: "”";
    font-family: Helvetica Bold;
    font-size: 96px;
    line-height: 110px;
    color: rgba($color: $white, $alpha: 0.3);
    position: absolute;
    right: 40px;
    bottom: -65px;
  }
}
.about__block > *:not(:last-child) {
  margin-bottom: 10px;
}
.about__descr span {
  display: inline-block;
}

.about__subtitle {
  font-family: Helvetica Bold;
  font-size: 24px;
  line-height: 116%;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 29px;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 23px;
  max-width: 850px;
  margin-bottom: 124px;
  position: relative;
  z-index: 5;
}
.about__item {
  background-color: $white;
  max-width: 415px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 16px 17px;
}
.about__item-icon {
  margin-right: 13px;
}
.about__item-descr {
  font-family: Helvetica Bold;
  font-size: 18px;
  line-height: 116%;
  color: #000000;
}

.about1 {
  grid-area: 1 / 1 / 2 / 2;
  .about__item-descr {
    max-width: 250px;
  }
}
.about2 {
  grid-area: 1 / 2 / 2 / 3;
  .about__item-descr {
    max-width: 269px;
  }
}
.about3 {
  grid-area: 2 / 1 / 3 / 2;
  .about__item-descr {
    max-width: 250px;
  }
}
.about4 {
  grid-area: 2 / 2 / 3 / 3;
  .about__item-descr {
    max-width: 257px;
  }
}
.about__form {
  margin-bottom: -300px;
  position: relative;
  z-index: 5;
}
.owner__descr {
  position: absolute;
  top: 60%;
  left: 80%;
  z-index: 5;

  font-family: "Helvetica";
  font-size: 24px;
  line-height: 116%;
  text-align: center;
  color: #ffffff;
}
.owner__descr span {
  display: block;
  font-family: "Helvetica Bold";
}

@media (max-width: 1278px) {
  .about {
    background: url("@img/about/back3.png") 50% / cover no-repeat;
    &__block {
      margin: 0 auto 52px auto;
      text-align: center;
      &::before {
        left: 60px;
      }
      &::after {
        right: 0px;
      }
    }
  }
  .owner__descr {
    display: none;
  }
  .about__title {
    margin: 0 auto 58px auto;
    text-align: center;
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .about__subtitle {
    max-width: 615px;
    margin: 0 auto 29px auto;
  }
  .about__list {
    margin: 0 auto 100px auto;
  }
}
@media (max-width: 1023px) {
  .about__block {
    font-size: 23px;
  }
  .about__list {
    margin: 0 auto 60px auto;
  }
}
@media (max-width: 767px) {
  .about__block {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .about__block::after {
    font-size: 60px;
    line-height: 125px;
  }
  .about__block::before {
    font-size: 60px;
    line-height: 80px;
    left: 50px;
  }
  .about__subtitle {
    font-size: 20px;
    text-align: center;
  }
  .about__item {
    flex-direction: column;
  }
  .about__item-descr {
    font-size: 16px;
    text-align: center;
  }
  .about__list {
    margin: 0 auto 40px auto;
  }
}
@media (max-width: 600px) {
  .about__body {
    padding: 0;
  }
  .about__title {
    margin: 0 auto 50px auto;
  }
  .about__block {
    font-size: 16px;
  }
  .about__block::before {
    left: -22px;
  }
  .about__subtitle {
    font-size: 18px;
  }
  .about__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    margin-bottom: 30px;
  }
  .about1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .about2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .about3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .about4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .about__form {
    display: none;
  }
}
